@tailwind base;
@tailwind components;
@tailwind utilities;

.productGrid {
	display: grid;
	width: 100%;
	grid-template-columns: 60% 1fr;
	grid-template-rows: 80% 1fr;
	grid-template-areas: "text text"
						 ".... button";
}

.productGrid section {
	grid-area: text;
}

.productGrid button {
	grid-area: button;
}